.announcement {
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  min-width: 242px;
}

@media only screen and (max-width: 800px) {
  .announcement {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .announcement {
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .announcement {
    font-size: 10px;
    margin: 0;
    height: 25px;
  }
}
